.logo {
    padding: 20px 32px;
}
.nav-link {
    margin: 0 16px;
}
.hero-section {
    display:flex;
    align-items: center;
    padding: 64px;
    background-color: rgb(227, 227, 227);
    margin: 0px;
  
}
.hero-text {
    padding: 50px;
    font-size: 30px;
}
.hero-text h2 {
    font-weight: bold;
    font-size: 70px;
}
.hero-image img {
    width: 100%;
    height: auto;
    size: 60%;
}
.btn-custom {
    margin-top: 80px;
    padding: 10px 180px;
    background-color: #525050;
    color: white;
    border: none;
}
.footer-links a {
    margin-left: 16px;
    color: gray;
    text-decoration: none;
}